# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env

# Database & Logs
profiles.json
crash_log.txt
data/gemini_cache_index.json
data/gemini_script_cache_index.json
